
.center{
	text-align:left;
}

#table{
	width:80%;
	max-width:1200px;
}

th{
   background:#f1c40f;
   height:30px;
   background-repeat:no-repeat;
   color:white;
   text-align: center;   
}

#table1 td{
	text-indent:5px;
	color:#444;
	border-bottom:1px solid #bbb;
	border-left:1px solid #bbb;
	height: 70px;
}

.table2 td{
	text-indent:5px;
	color:#444;
	border-bottom:1px solid #bbb;
	border-left:1px solid #bbb;
	height: 30px;
}

td.left{
	border-left:1px solid #bbb;
}

td.right{
	border-right:1px solid #bbb;
}

td.bottom{
	border-bottom:1px solid #bbb;
}

.grip{
	width:20px;
	height:30px;
	margin-top:-3px;
	margin-left:-5px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

.grip:hover{
	background-position-x:-20px;
}

.dragging .grip{
	background-position-x:-40px;
}

.sampleText{
	position:relative;
	width:100%;
}


input.check{
	
}

#table1Txt{
	float:right;	
}
label{
	color:#0361ae;
}