@charset "utf-8";


@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 400;
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.eot);
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'), url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype')
}

@font-face {
	font-family: 'NanumGothic';
	font-style: normal;
	font-weight: 700;
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.eot);
	src: url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'), url(//cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype')
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.eot);
    src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'), url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.woff) format('woff'), url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Regular-Hestia.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.eot);
    src: url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'), url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.woff) format('woff'), url(//cdn.jsdelivr.net/npm/notosanskr-hestia-scss@1.0.4/fonts/NotoSansKR-Medium-Hestia.otf) format('opentype');
}

* {margin:0; padding:0;}

html {height:100%;}
body {
	height:100%;
	font-size:75%;
	font-family:'NanumGothic','맑은고딕','Malgun Gothic','MGothic', sans-serif,"돋움",Dotum,"굴림",Gulim;
	color:#767676;
}

img					{border:0; vertical-align:top; font-size:0;}
form, fieldset		{display:block; border:0;}
ul,ol,li			{list-style:none;}

legend, caption, .hidden		{width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden;}

table				{border-collapse:collapse; border-spacing:0; width:100%; font-size:1em;}

ul,ol,li,a,table,td,th,p,dl,dd,dt,strong,span,div {font-size:1em; line-height:1.5; word-spacing:-1px;}

p, acronym, address, big, small, cite, code, dfn, em, kbd, pre, samp, sub, sup, tt, var {
	font-weight:normal; font-style:normal;
}

h1, h2, h3, h4, h5, h6	{font-size:1em; letter-spacing:-1px; font-family:'NanumGothic','맑은고딕','Malgun Gothic','MGothic', sans-serif,"돋움",Dotum,"굴림",Gulim;}

big						{font-size:1.125em;} /* 14px */
small					{font-size:0.95em;} /* 11px */

sub						{font-size:1.05em;}
sup						{font-size:1.05em;}

input, select {
	vertical-align:middle; 
	font-size:1em;
	color:#767676; 
	font-family:'NanumGothic','맑은고딕','Malgun Gothic','MGothic', sans-serif,"돋움",Dotum,"굴림",Gulim;
}
/*input[type="password"] { color:#555;}*/

input::-ms-clear {
    display: none;
}

textarea {
	border:1px solid #d9d9d9; 
	font-size:12px; 
	font-family:'NanumGothic','맑은고딕','Malgun Gothic','MGothic', sans-serif,"돋움",Dotum,"굴림",Gulim;
	resize:none;
	box-sizing:border-box;
}

blockquote, q		{quotes:none;}
ins {}
del					{text-decoration:line-through;}

hr {display:none;}

iframe {border:0;}


/* 기본 링크 스타일 */
a:link 				{color:#767676; text-decoration:none;}
a:visited			{color:#767676; text-decoration:none;}
a:hover, a:focus	{color:#767676; text-decoration:none;}
a:active			{color:#767676; text-decoration:none;}
a.hoverline:hover	{text-decoration:underline}


/* button */
button {
	background:transparent;
	margin:0;
	padding:0;
	border:0;
	cursor:pointer;
	font-family:'NanumGothic','맑은고딕','Malgun Gothic','MGothic', sans-serif,"돋움",Dotum,"굴림",Gulim;
}
.button,
.button *{
	position:relative; 
	margin:0; 
	padding:0; 
	display:inline-block; 
	text-decoration:none !important; 
	border:0;
	font-size:12px; 
	white-space:nowrap; 
	vertical-align:middle; 
	overflow:visible; 
	color:#fff;
}


button::-moz-focus-inner {
    padding: 0;
    border: 0
}


/* clear */
.clear {clear:both;}


/* skip-navigation */
.skip-navigation {
	display:block; 
	position:absolute; 
	z-index:8888; 
	left:0; 
	top:0; 
	width:100%;
}
.skip-navigation a {
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	position:absolute;
	top:-10000px;
	left:0;
	z-index:5000;
	background-color:#005ba0;
	color:#fff;
}
.skip-navigation a:hover,
.skip-navigation a:focus, 
.skip-navigation a:active {top:0;}	



.join_chkbox {margin-top:10px;}
.join_chkbox label {font-size:13px; margin-left:5px; cursor:pointer;}

.payment-type {}
.payment-type li {margin-top:10px; font-size:13px;}
.payment-type li:first-child {margin-top:0;}
.payment-type li:after {content:""; display:block; clear:both;}
.paybox01 {float:left; width:135px;}
.paybox01 label {
	cursor:pointer; 
	margin-left:2px; 
	vertical-align:-1px; 
	color:#3c3c3c; 
	font-weight:bold;
}
.paybox02 {float:left;}

.stxt02 {font-size:16px;}
.stxt02 strong {color:#333;}
.stxt02 span {color:#fe5a08;}

	/* botton */
.btn_group {padding:10px 20px 0 20px;}
.btn_group.pdt0 {padding-top:0;}
.btn_group.pdt20 {padding-top:20px;}
.btn_group.pdt30 {padding-top:30px;}
.btn_group.pdt60 {padding-top:60px;}
.btn_group.pdr0 {padding-right:0;}
.btn_group.pdb20 {padding-bottom:20px;}
.btn_group.right {text-align:right;}
.btn_group.center {text-align:center;}
.btn_group02 {float:right; margin-top:-48px;}

/*a.btn, button.btn {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle;}*/
.btn span {display:inline-block; width:100%; padding-right:2px; box-sizing:border-box;}

.btn.btn_grs {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle; background:url(./images/button/bg_btn_grs.gif) no-repeat 0 0; color:#fff; font-size:13px; margin-top:0 !important;}
.btn.btn_grs span {height:27px; line-height:27px; background:url(./images/button/bg_btn_grs.gif) no-repeat right 0;}
.btn.btn_grm {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle; width:80px; background:url(./images/button/bg_btn_grm.gif) no-repeat 0 0; color:#fff; font-size:14px; margin-top:0 !important;}
.btn.btn_grm span {height:30px; line-height:30px; background:url(./images/button/bg_btn_grm.gif) no-repeat right 0;}
.btn.btn_grl {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle; width:70px; background:url(./images/button/bg_btn_grl.gif) no-repeat 0 0; color:#fff; font-size:13px; margin-top:0 !important;}
.btn.btn_grl span {height:35px; line-height:35px; background:url(./images/button/bg_btn_grl.gif) no-repeat right 0;}

.btn.btn_gs {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle; background:url(./images/button/bg_btn_gs.gif) no-repeat 0 0; color:#fff; font-size:13px; margin-top:0 !important;}
.btn.btn_gs span {height:27px; line-height:27px; background:url(./images/button/bg_btn_gs.gif) no-repeat right 0;}
.btn.btn_gm {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle; width:80px; background:url(./images/button/bg_btn_gm.gif) no-repeat 0 0; color:#fff; font-size:14px; margin-top:0 !important;}
.btn.btn_gm span {height:30px; line-height:30px; background:url(./images/button/bg_btn_gm.gif) no-repeat right 0;}

.btn.btn_wss {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle; background:url(./images/button/bg_btn_wss.gif) no-repeat 0 0; color:#666; font-size:13px; margin-top:0 !important;}
.btn.btn_wss span {height:22px; padding:0 10px 0 8px; line-height:22px; background:url(./images/button/bg_btn_wss.gif) no-repeat right 0;}
.btn.btn_ws {display:inline-block !important; padding-left:2px !important; font-weight:bold !important; text-align:center !important; box-sizing:border-box; vertical-align:middle; background:url(./images/button/bg_btn_ws.gif) no-repeat 0 0; color:#666; font-size:13px; margin-top:0 !important;}
.btn.btn_ws span {height:27px; line-height:27px; background:url(./images/button/bg_btn_ws.gif) no-repeat right 0;}
.btn.btn_big_green {display:inline-block;min-width:230px;height:50px;padding:0 15px;background:#00ba56;-webkit-border-radius:2px;border-radius:2px;font-weight:bold;font-size:19px;line-height:50px;color:#fff}

.btn_line_bk {position:relative;display:inline-block;height:42px;margin-right:8px;padding:0 46px 0 20px;background:#fff;border:1px solid #3c3c3c;font-weight:bold;font-size:14.5px;line-height:42px;color:#3c3c3c !important;white-space:nowrap}
.btn_line_bk .arr {position:absolute;top:16px;right:20px;width:7px;height:11px;background:url('./images/corporation/sp_corporation.png') no-repeat -55px -146px}
.btn_line_bk:hover,
.btn_line_bk:focus {background:#3c3c3c;border:1px solid #3c3c3c;color:#fff !important}
.btn_line_bk:hover .arr,
.btn_line_bk:focus .arr {background-position:-72px -146px}
.btn_line_bk2 {position:relative;display:inline-block;height:47px;margin-right:8px;padding:0 46px 0 20px;background:#fff;border:1px solid #3c3c3c;font-weight:bold;font-size:15.5px;line-height:47px;color:#3c3c3c !important;white-space:nowrap}
.btn_line_bk2 .arr {position:absolute;top:17px;right:20px;width:8px;height:13px;background:url('./images/corporation/sp_corporation.png') no-repeat -19px -146px}
.btn_line_bk2:hover,
.btn_line_bk2:focus {background:#3c3c3c;border:1px solid #3c3c3c;color:#fff !important}
.btn_line_bk2:hover .arr,
.btn_line_bk2:focus .arr {background-position:-37px -146px}


/*2016 11 11*/
.layer_area .btn.btn_grm span{width:120px;}
.layer_area .join_pop_text{padding-bottom:10px;}
.layer_area .join_pop_text span{color:#f1c40f;}
.layer_area .pb5{padding-bottom:5px;}
.layer_area .textin10{text-indent:10px;}
.layer_area .btn_group{padding-top:20px;}

.layer-wrap01 .layer-cont .id_repetition div input{text-indent:10px;}

/* 2016 12 01 WSG CSS -LJS- */
.colorf1c40f{color:#f1c40f!important;} /*진한 초록색*/
.color3c3c3c{color:#3c3c3c!important;} /*대제목 = 진한 검정색*/
.color767676{color:#767676!important;} /*컨텐츠 = 연한 검정색 */
.bg877b6c{background:#877b6c!important;}
.bde2e2e2{border:1px solid #e2e2e2!important;}
.bgf6f6f6{background:#f6f6f6!important;}
.bdre2e2e2{border-right:1px solid #e2e2e2!important;}
.bdnf1c40f{border-bottom:1px solid #f1c40f;}

.blind {position:absolute;left:-10000px;top:auto;height:1px;overflow:hidden}

/*tooltip 레이어팝업*/
.tooltip {position:relative;display:inline;margin-left:8px}
.tooltip_icon {display:inline-block;width:20px;height:20px;background:url('./images/common/img_tooltip.png') no-repeat 0 0;font:0/0 dotum;color:transparent;vertical-align:top}
.tooltip_box {z-index:1;display:none;position:absolute;bottom:28px;left:-68px;padding:10px 16px;text-align:left;border:1px solid #9c978f;background:#fff;white-space:nowrap}
.tooltip_icon:focus + .tooltip_box,
.tooltip_icon:hover + .tooltip_box {display:block}
.tooltip_arr {position:absolute;bottom:-7px;left:72px;width:10px;height:7px;background:url('./images/common/img_tooltip.png') no-repeat -30px 0}
.tooltip_cont {font-weight:normal;font-size:12px;letter-spacing:0;color:#767676}

/*절차*/
.u_process {overflow:hidden;margin-bottom:56px;padding-top:56px}
.u_process li {float:left;width:159px;margin-left:38px}
.u_process li:first-child {margin-left:0}
.u_process dt {position:relative;width:157px;height:157px;margin-bottom:26px;border:1px solid #3c3c3c;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;font-weight:bold;font-size:13.5px;text-align:center;color:#3c3c3c}
.u_process dt .arr {position:absolute;top:72px;right:-24px;width:9px;height:15px;background:url('./images/corporation/sp_corporation.png') no-repeat 0 -146px;line-height:1.0}
.u_process dl dt .num {display:block;padding:38px 0 11px;font-size:17.5px}
.u_process dl dd {font-size:13.5px;line-height:1.55}