@charset "UTF-8";

/* 페이징 */
.paging {margin-top:20px; text-align:center;}
.paging a {
	display:inline-block; 
	color:#3c3c3c; 
	width:26px; 
	height:26px;
	line-height:25px;
}
.paging a:hover {color:#fff; background-color:#f1c40f;}
.paging strong {
	display:inline-block;
	width:26px; 
	height:26px;
	line-height:25px;
	color:#fff; 
	background-color:#f1c40f;
}
.paging img {vertical-align:-9px;}
.paging .page_first:hover,
.paging .page_end:hover {background-color:#fff;}
.paging .page_prev {margin:0 10px 0 -4px;}
.paging .page_next {margin:0 -4px 0 10px;}

.paging .page_prev01 {margin:0 4px 0 0;}
.paging .page_next01 {margin:0 0 0 4px;}
